/*
Variables
Remove default Margin and Padding
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
 --lumia-blue: #013452;
 --lumia-secondary-blue: #0c4961 ;
 --lumia-yellow: #F3AE5F;
 --main-white: #f5ebff;
 --secondary-white: #dfd6e9;
}

/* 
Page Layout
*/

#logo {
  width: 150px;
}

#hero-image {
  width: 400px;
}

.fa-solid {
  font-size: 4rem;
}

/*
Font styling
*/
