@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*
Variables
Remove default Margin and Padding
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
 --lumia-blue: #adc7d8;
 --secondary-black: #282829 ;
 --lumia-yellow: #F3AE5F;
 --main-white: #faf6ff;
 --secondary-white: #f3eff8;
}

/* 
Page Layout
*/

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

header {
  align-items: center;
  justify-content: space-between;
  padding: 20px 180px;
  background-color: var(--lumia-blue);
}

#logo {
  max-width: 200px;
}

#hero-image {
  width: 450px;
  border-radius: 4px;
}

ul {
  gap: 20px;
}

#hero-section {
  background-color: var(--lumia-blue);
  justify-content: space-between;
  padding: 20px 180px 40px 180px;
  align-items: center;
  
}

#hero-text {
  width: 450px;
}


#hero-button {
  margin-top: 10px;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  background-color: var(--lumia-yellow);
  color: white;
}

#card-section {
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 80px 40px;
}

#card-container {
  gap: 10px;
}

.card {
  width: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  border: 4px solid var(--lumia-blue);
  border-radius: 8px;
  padding: 10px;
  margin: 20px;
}

#quote-section {
  justify-content: center;
  align-items: center;
  background-color: var(--lumia-blue);
  padding: 80px 200px;
}

#quote-name{
  align-self: flex-end;
}

.fa-solid {
  font-size: 4rem;
  color: var(--lumia-yellow);
}

#signup-section {
  justify-content: center;
  align-items: center;
  padding: 80px 200px;
}

#button-container {
  width: 800px;
  background-color: var(--lumia-yellow);
  justify-content:space-between;
  align-items: center;
  padding: 50px 120px;
  border-radius: 8px;
  color: white;
}

#signup-text {
margin-left: 0px;
}

#signup-button {
padding: 5px 20px;
background-color: transparent;
border: 2px solid white;
border-radius: 20px;
color: white;
}

footer {
  background-color: var(--lumia-blue);
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

/*
Font styling
*/

html {
  font-family: 'Roboto', sans-serif;
}

li {
text-decoration: none;
display: inline-block;
font-size: 1.2rem;
}

a {
text-decoration: none;
color: black;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-style: italic;
  font-weight: normal;
  color: var(--secondary-black);
  font-size: 1.8rem;
  line-height: 1.2;
}

#signup-header {
  font-size: 1.4rem;
}

#quote-name{
  font-size: 1.2rem;
}

p {
  margin: 5px 0;
}

#signup-p {
  color: var(--secondary-white);
}

button {
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.dull {
  color: var(--secondary-black);
}
